{% extends 'SensioTrainingBundle::layout.html.twig' %}

{%  block content %}
    {% if danke == 1 %} DANKE!!!!
        {% endif %}

   <form action="" method="post" novalidate="novalidate" >
       {{ form_widget(form) }}
       <button type="submit">Send</button>
   </form>

{% endblock %}