{% extends 'SensioTrainingBundle::layout.html.twig' %}

{%  block content %}
Super Code ausm Twig <h2>{{ name }}</h2>

    <p>Say hello to <a href="{{ path('training_hello', {'name':'SensioAndrea'} ) }}">Sensio</a></p>

    <p>Absolute URL:  {{ url('training_hello', {'name': name} ) }}</p>

{% endblock %}