{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/sensiotraining/css/style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>Bootcamp Seite</h1>

    {{ include (
        'SensioTrainingBundle::menu.html.twig',
        {'id':'menu-bar'}
    ) }}

    <div class="maincontent">{% block content %}{% endblock %}</div>

    <div class="rightcol">{{ render(
        controller('SensioTrainingBundle:Default:counter')
    ) }}</div>
{% endblock %}